{% extends 'base.html' %}

{% block title %} Sign Up Page {% endblock title%}

{% block body %} 

<div>
  <h1>{{text}}</h1>
  <div>
    <form action="" method="post">
      <label for="">Username</label>
      <input type="text" name="username">
      <p> </p>
      <label for="">Password</label>
      <input type="password" name="password">
      <p> </p>
      <button>Sign Up</button>
    </form>
    <button>
      <a href="/user/{{ user}}">Get Profile</a>
    </button>
  </div>
</div>

{% endblock body%}