{% extends 'base.html' %}


{% block title %} {{username}} Profile {% endblock title %}

{% block body %}
{% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}"></spam>
    {% endfor %}
<div>
  <div>
    <h1 class="username navigation"> {{ username }}</h1>
    <h2 class="balance navigation"> {{ balance }}</h2>
    <a href="/pay/deposite?username={{username}}" class="deposite navigation">Пополнить баланс</a>  
  </div>
</div>


{% endblock body %}